<% include header %>
<h1>New Post</h1>
<form method="POST" action="/">
  <p>
    <label>Title</label>
    <input type="text" name="title"></input>
  </p>
  <p>
    <label>Body</label>
    <textarea name="body"></textarea>
  </p>
  <p>
    <label>Posted</label>
    <input type="date" name="posted"></input>
  </p>
  <p>
    <button>Create</button>
  </p>
</form>
<% include footer %>