<% include header %>
<h1><%= post.title %></h1>
<div><%= post.body %></div>
<a href="/<%= post.id %>/edit">Edit</a>
<form method="post" action="<%= post.id%>">
  <input type="hidden" name="_method" value="delete" />
  <button>Delete</button>
</form>
<% include footer %>