<!doctype html>
<html>
  <head>
    <title>Chat Application</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container" ng-app="app">
      <ng-view></ng-view>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-underscore.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
